<% if current_user.id == params[:id].to_i %>
  <% if !@links.blank? %>
    My Links
    <% @links.each do |link| %>
      <p><%= link.url %></p>
    <% end %>
  <% else %>
    You haven't stored any links yet!
  <% end %>
<% else %>
  You are not authorized to view this page
<% end %>
