<style type="text/css">
  a:link {text-decoration:none;}
  a:visited {text-decoration:none;}
  a:hover {text-decoration:underline;}
  a:active {text-decoration:underline;}
</style>
<% search.each_with_index do |tweet, index| %>
  <p>
  <% if !tweet["entities"]["urls"].blank? %>
    <%= tweet["entities"]["urls"][0]["expanded_url"] %>
    <%= link_to 'Save Link', links_path(:tweet_url => url_encode(tweet["entities"]["urls"][0]["expanded_url"]), :tweet_id => index), :method => :post, :remote => true , :id => "p_#{index}" %>
  <% end %>
  </p>
<% end %>
